@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

@theme{
    --color-primary:#FBFBFB;
    --color-secondary:#393E46;
    --color-accent:#FBBF24;
    --font-fancy:"Oswald",sans-serif;
}



